<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <title>宿舍管理</title>
</head>
<body style="margin: 0; padding: 0;">
    <%- include('../_Partials/header') %>
    <table>
        <tr>
            <th>宿舍名稱</th>
            <th>租金</th>
        </tr>
        <% for(let b of allBuilding){ %>
            <tr>
                <td>
                    <a href="./Dorm/<%= b.name %>"><%= b.name %></a>
                </td>
                <td><%= b.cost %></td>
            </tr>
        <% } %>
    </table>
    <form method="post" action="/Api/Admin/AddBuilding">
        <input type="text" name="buildingName" placeholder="宿舍名稱" required>
        <input type="number" name="buildingCost" placeholder="租金" min="0" required>
        <input type="submit" value="新增宿舍">
    </form>
</body>
</html>