<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>請登入</title>
</head>
<body>
    <%- include('../_Partials/Navbar') %>
    <form method="post" action="/Api/Login">
        <input type="text" name="name" placeholder="學號" required>
        <br>
        <input type="password" name="pass" placeholder="密碼" required>
        <br>
        <input type="submit" value="登入">
    </form>
</body>
</html>